SET FOREIGN_KEY_CHECKS = 0;
ALTER TABLE \payables\
  DROP COLUMN \	anggal_terima_invoice\,
  DROP COLUMN \
omor_transaksi\,
  DROP COLUMN \jatuh_tempo_hari\,
  DROP COLUMN \
ominal\;
ALTER TABLE \payables\
  ADD COLUMN \company_id\ BIGINT UNSIGNED NULL AFTER \id\,
  ADD COLUMN \details\ JSON NULL AFTER \provider_id\,
  ADD COLUMN \	otal\ BIGINT NOT NULL DEFAULT 0 AFTER \details\;
ALTER TABLE \payables\
  ADD CONSTRAINT \payables_company_id_foreign\ FOREIGN KEY (\company_id\) REFERENCES \companies\ (\id\) ON DELETE SET NULL;
SET FOREIGN_KEY_CHECKS = 1;
